﻿
@if (ViewBag.titles != null)
{
    <table cellpadding="5">
        @for (var i = 0; i < 10; i++)
        {
            <tr>
                <td><img src="@ViewBag.images[i]"></td>
                <td>@ViewBag.titles[i]</td>
                <td>@ViewBag.prices[i]</td>
            </tr>
        }
    </table>
}